$light0: #ffffff;
$light1: #fafafa;
$light2: #f5f5f5;
$light3: #eeeeee;
$light4: #e0e0e0;
$light5: #bdbdbd;

$dark5: #9e9e9e;
$dark6: #757575;
$dark7: #616161;
$dark8: #424242;
$dark9: #212121;
$dark10: #000000;

$primary: #7c4dff;
$secondary: #01579b;
$danger: #8a1c1c;

$lilac: #6467f7;
$lilacDark: #303178;
$lilacLight: #aeaff9;
$lightBlue: #377dff;
$fontColor: $dark9;
$titleColor: rgb(84, 84, 84);
$subtitleColor: rgb(109, 109, 109);
$paper: rgb(241, 243, 244);
$paper2: #eceff5;
