.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .mainHeader {
  }

  .mainContent {
    flex-grow: 1;
  }

  .mainFooter {
  }
}

.container {
  display: block;
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}
.container--narrow {
  max-width: 732px;
}
